:root {
    --contrast: #051C5B;
    --main: #f4f4f4;
}

@font-face {
    font-family: cyberFreight;
    src: url(cyberfreight.otf);
}

* {
    font-family: cyberFreight, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--main);
}

header {
    height: 80px;
    width: 100%;
    padding: 40px;
    font-size: 2em;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--contrast);
    color: var(--main);
}

header h1 {
    background-color: var(--contrast);
}

main {
    height: auto;
    width: 100%;
}

h2 {
    color: #333;
}

h3 {
    color: #007bff;
    font-size: 24px;
}