:root {
    --contrast: #051C5B;
    --main: #f4f4f4;
}

@font-face {
    font-family: cyberFreight;
    src: url(cyberfreight.otf);
}

* {
    font-family: cyberFreight, Helvetica, sans-serif;
    background-color: var(--main);
}

header {
    height: 10%;
    width: 100%;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--contrast);
    color: var(--main);
}

h2 {
    color: #333;
}

h3 {
    color: #007bff;
    font-size: 24px;
}